* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.main-visual-content {
  padding-left: 20px;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0);
}

.main-visual-text {
  color: rgb(110, 108, 108);
}

main {
  width: 840px;
  margin: 50px auto;
}

.main1 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

.main2 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

.main3 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

.main4 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}
